@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ FONT */
@font-face {
  font-family: "Geo";
  src: url("/fonts/geo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
body {
  background: #3253e9;
  color: white;
}